body {
    background-color: beige;
    user-select: none;
    overflow: hidden;
}

#container {
    width: 1000px;
}

#playingArea {
    height: 430px;
    background-image: url("field.png");
    position: relative;
}

#bow {
    position: absolute;
    left: 30px;
    top: 353px;
    transform: rotate(-0.374681rad);
}

.arrow {
    position: absolute;
    z-index: 1;
}

#target {
    position: absolute;
    left: 920px;
    top: 0px;
    pointer-events: none;
}

#instructions-hit {
    overflow: auto;
    font-size: 24px;
    pointer-events: none;
}

#instructions {
    float: left;
}

#hit {
    float: right;
}
